*{
    padding: 0;
    margin: 0;
}
.card-title{
    padding-left: 16px;
    padding-right: 16px;
}
.card-text{
    margin-bottom: 10px;
}
#card__li{
    border: none;
    background-color: #f8f9fa;
    a{
        text-decoration: none;
    color: black;
    }
    &:hover{
        background-color: white;
        a{
        color: #3541c7;
      }
    }
}
.li__a{
    text-decoration: none;
    color: black;
}
.card__btn{
    justify-content: center;
    align-items: center;
.btn{
    width: 80%;
    margin: 5px 0 5px 0;
    
}
}
#btn__first{
    background-color: #3541c7;
    color: white;
    &:hover{
        background-color: #1421b9;
    }
}
#btn__second{
    background-color: #d6d6d7;
    &:hover{
        background-color: #929293;
    }
}
.card__item{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#card__li1{
    border: none;
    background-color: #f8f9fa;
    h4{
        font-weight: bold;
    }
    a{
        text-decoration: none;
        color: #3541c7;
    }
}
#card__li2{
    border: none;
    background-color: #f8f9fa;
    h4{
        font-weight: bold;
    }
    h5{
        font-weight: bold;
    }
    a{
        text-decoration: none;
        color: black;
        
        &:hover{
            color: #3541c7;  
        }
    }
}
#card__li--bottom{
    border: none;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
    color: black;
    }
    h6{
        font-size: small;
    }
    &:hover{
        a{
        color: #3541c7;
      }
    }
}
.li__text--high{
    background-color: #fcd34d;
    border-radius: 5px;
    color: #78350f;
    justify-content: center;
    width: 20%;
    height: 25px;
    margin: 0;
}